/.build/
/_build/
/Build
/blib
/share
Build.bat
/_build_params

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/Alien-CSFML-*

*.tmp

old-*/

/.tidyall.d/
git/

.env

examples/Binbeat_sample.ogg
examples/Roboto-Regular.ttf
examples/JPEG_example_JPG_RIP_100.jpg